@import '../auth.component';


.form-btn{
  margin-bottom: 35px;
}

.form-btn::after {
  content: "";
  height: 2px;
  width: 30%;
  background-color: #C4C4C4;
  position: absolute;
  bottom: -35px;
  left: 35%;
}