<div class="content">
	<h1 class="form-title">
		Вход в систему
	</h1>
	<div class="form-container">
		<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
			<div class="text-danger form-danger" *ngIf="authError && submitted">
				<p>{{  authError }}</p>
			</div>
			<label>
				<span class="text-danger"
                    *ngIf="submitted && email.errors?.required">
                    Почта обязательна
				</span>
                <span class="text-danger"
                    *ngIf="submitted && email.errors?.email">
                    Некорректный формат почты
                </span>
				<input class="input" name="email" formControlName="email" type="email" placeholder="Логин" >
			</label>
			<label>
                <span class="text-danger"
                    *ngIf="submitted && password.errors?.required">
                    Пароль обязателен.
                </span>
				<input class="input"  name="password" formControlName="password" type="password" placeholder="Пароль">
			</label>
			
			<div class="form-btn">
				<button class="btn btn-primary" [class.btn-spinner]="loginLoad" [disabled]="loginLoad" type="submit">
					Войти
				</button>
				<button class="btn btn-other" (click)="register()">
					Регистрация
				</button>
			</div>
			<button class="btn btn-password">
				Восстановить пароль
			</button>
		</form>
	</div>
</div>