<div class="content">
	<span class="login-form-title">
		Регистрация
	</span>
	<div class="form">
		<form class="login-form" #userLogForm="ngForm" (ngSubmit)="signup(userLogForm)">
			<div class="error" *ngIf="authError">
				<p>{{  authError?.message }}</p>
			</div>
			<input class="input" ngModel name="email" #email="ngModel" type="email" placeholder="Логин" >
			<input class="input" ngModel name="password" #password="ngModel" type="password" placeholder="Пароль">
			
			<div class="form-btn">
				<button class="btn singup" type="submit">
					Зарегистрироваться
				</button>
				<button class="btn" (click)="register()">
					Войти
				</button>
			</div>
		</form>
	</div>
	<div class="footer">
		<img class="footer-logo" src="/assets/images/logotype 1.png" alt="logo">
	</div>
</div>