
  
  .left-bg {
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url("/assets/images/img-01.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .limiter {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    background-color: white;
    height: 100%;
    /* padding: 40px; */
  }
  
  .limiter .content {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 40px 0;
  }

  .text-danger{
    color: red;
    font-weight: bold;
    background-color: white;
    position: absolute;
    left: 30px;
    top: -32px;
  }

  label{
      position: relative;
  }

  @media (max-width: 1000px) {
    .limiter {
      width: 100%;
    }

    .left-bg {
      display: none;
    }
  }

  @media (max-width: 400px) {
    .limiter .content {
      height: 120%;
    }
  }