header{
    border-bottom: 1px solid #F0F0F0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    img{
        margin: 0 30px;
    }
    nav{
        display: flex;
        justify-content: space-around;

        p{
            margin: 20px;
            font-weight: bold;
        }
    }
}

.content{
}