<header>
    <a href="/"><img src="/assets/images/logo.png" alt=""></a>
    <nav>
        <a [routerLink]="['/']"        routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
        <a [routerLink]="['/courses']" routerLinkActive="link-active">Курсы</a>
        <a [routerLink]="['/options']" routerLinkActive="link-active">Настройки</a>
    </nav>
    <img src="/assets/images/avatar.jfif" alt="Профиль" (click)="logout()" class="logo">
</header>
<div class="content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet">
    </router-outlet>
</div>