// .left{grid-area: left}
// .right{grid-area: right}


#lesson-editor{
    display: none;
}

#editor{
    padding: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    h1{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    p{
        color: #adadad;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .left{
        width: 50%;
    }

    .error{
        position: absolute;
    }

    .text-danger{
        color: red;
        background-color: white;
    }

        #c-name, #c-description{
            background-color: white;
            border: 1px solid #c4c4c4;
            border-radius: 15px;
            padding: 20px;
            margin: 20px 0;
            display: block;
            font-weight: lighter;
            font-family: Gilroy;
            font-size: 18px;
            width: 30%;
        }

        #c-description{
            width: 80%;
            max-width: 80%;
            min-width: 6%;
            max-height: 300px;
            min-height: 200px;
            height: 255px;
        }

        button{
            background: #0779E4;
            border-radius: 360px;
            font-weight: bold;
            font-size: 20px;
            width: 13vw;
            height: 74px;
            padding: 25px;
            color: white;
            border: none;
            cursor: pointer;
            font-family: Gilroy;

        }

        .btn-spinner{
            font-size: 0;
          }
    
    
    .lessons{
        background-color: white;
        border: 2px solid #f0f0f0;
        padding: 45px;
        border-radius: 30px;
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        position: relative;

        .title{
            position: absolute;
            top: 15px;
            left: 30px;
        }

        .lesson{
            background: #f0f0f0;
            padding: 15px;
            border-radius: 15px;
            width: 190px;
            height: 120px;
            margin: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            box-sizing: border-box;
            color: #c4c4c4;

            span{
                color: black;
            }
            p{
                margin-top: 20px;
            }
        }

        .add-lesson{
            border: 3px solid #0779E4;
            background: rgba(#0779E4, 5%);
            text-align: center;
            font-size: 4em;
            font-weight: lighter;
            color: #0779E4;
            transition: .2s;

            &:hover{
                background: #0779E4;
                color: white;
                transform: scale(105%);
            }
        }
    }
}