@import './styles/editor';
@import './styles/control-panel';
@import './styles/select';
@import './styles/floating-button';
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400&display=swap');
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}