<!-- 
<div class="preloader" [class.hidden]="user">
    <div class="loader"></div>
</div>
<div class="article" *ngIf="user">
    <div class="user-info">
        <h1>Привет, {{ user.firstName }}</h1>
    </div>
    <div class="content">
        <div class="course-group" *ngIf="courses.subscribed">
            <h3 class="group-name">В процессе:</h3>
            <div class="course" *ngFor="let course of courses.subscribed">
                <p class="name">{{ course.name }}</p>
                <p class="description">{{ course.description }}</p>
                <span class="lessons-number">{{ getNumbersOfLessons(course.lessons.length) }}</span>
                <button class="course-play"></button>
                <div class="progress">
                    <p>Прогресс:</p>
                    <div class="white-bar">
                        <div class="blue-bar" [style.width]="course.progress"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-group" *ngIf="courses.recommended">
            <h3 class="group-name">Рекомендованные:</h3>
            <div class="course" *ngFor="let course of courses.recommended">
                <p class="name">{{ course.name }}</p>
                <p class="description">{{ course.description }}</p>
                <span class="lessons-number">{{ getNumbersOfLessons(course.lessons.length) }}</span>
                <button class="course-play"></button>
                <div class="progress">
                    <p>Прогресс:</p>
                    <div class="white-bar">
                        <div class="blue-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-group" *ngIf="courses.сompleted">
            <h3 class="group-name">Пройденные:</h3>
            <div class="course" *ngFor="let course of courses.сompleted">
                <p class="name">{{ course.name }}</p>
                <p class="description">{{ course.description }}</p>
                <span class="lessons-number">{{ getNumbersOfLessons(course.lessons.length) }}</span>
                <button class="course-play"></button>
                <div class="progress">
                    <p>Прогресс:</p>
                    <div class="white-bar">
                        <div class="blue-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<h1 class="sorry">Главная страница сейчас находится в разработке, а пока вы можете воспользоваться вкладкой <a href="/courses">"Курсы"</a></h1>