* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }
  
  :root{
    overflow-x: hidden;
  }

  .container {
    width: 90vw;
    padding: 20px 0;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1076px) {
    .topnav a {
      display: none;
    }
  
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 1076px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .article {
    width: 80%;
  }
  
  .welcome {
    padding: 40px 0;
  }
  
  .course,
  .defined-course {
    border-radius: 16px;
    border: 1px solid #c4c4c4;
    padding: 20px;
    margin: 50px;
  }

  .course {
    margin: 50px;
    background: #eee;
    box-shadow: 0 10px 20px #ccc;
  }
  
  .defined-course {
    margin: 10px;
    width: 100px;
  }